node_modules
dist
tmp
.env
.vscode
.DS_Store
exported-pages
database
couchdb-backup*

packages/server/assets/css/*.css
packages/server/assets/js/*.js
packages/server/assets/js/*.map
packages/server/assets/vendor/*.js
