.documentTitleAsListItem {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  margin-bottom: 0.5rem;
  svg {
    flex-shrink: 0;
  }
  a {
    color: var(--bulma-text);

    &:hover {
      color: var(--bulma-text-100);
    }
  }
}
