/* normal screen styles */
@media screen and (min-width: 769px) and (max-width: 1215px) {
  .mainContent {
    margin-left: 10%;
    margin-right: 10%;
  }
}

/* large screen styles */
@media screen and (min-width: 1216px) {
  .mainContent {
    margin-left: 15vw;
    margin-right: 15vw;
  }
}

@media screen and (max-width: 768px) {
  .mainContent {
    margin: 0;
    padding: 0;
  }
}
