[data-context="editing page"] .nav {
  pointer-events: none;
  opacity: 0.5;
}

.nav {
  user-select: none;
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
  list-style: none;

  li {
    margin: 1px solid transparent;
  }

  ul ul {
    margin-left: 1rem;
    margin-top: 0.5rem;
  }

  li:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.item {
  composes: documentTitleAsListItem from "../styles/common.module.css";

  a:global(.is-active) {
    font-weight: bold;
    color: var(--bulma-text-100);
  }
}
