.mainLeft {
  background-color: var(--color-primary);
  height: 100vh;

  .aside {
    width: 250px;
    white-space: nowrap;
  }

  .aside * {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.header {
  text-transform: uppercase;
}
