.mainLeft {
  background-color: #1e2a3b;
  min-height: 100vh;
  width: 280px !important;

  .aside {
    white-space: nowrap;
  }

  .aside * {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

:global(#main-page-body) {
  height: 100%;
}

@media screen and (max-width: 768px) {
  .mainLeft {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 40;
    transition: inset-inline-start 0.3s ease;
    inset-inline-start: -100%;

    /* We use :global because the 'isOpen' class is toggled via js */
    &:global(.isOpen) {
      inset-inline-start: 0;
    }
  }
}

.header {
  text-transform: uppercase;
  .title {
    white-space: nowrap;
  }
  a {
    text-overflow: ellipsis;
    max-width: 225px;
    overflow: hidden;
  }
}
