@media screen and (max-width: 768px) {
  .mainLeft {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 40;
    transition: inset-inline-start 0.3s ease;
    inset-inline-start: -100%;

    /* We use :global because the 'isOpen' class is toggled via js */
    &:global(.isOpen) {
      inset-inline-start: 0;
    }
  }
}
