@import '/a/vendor/bulma.min.css';
@import url(app.css);

:root {
  .menu {
    --bulma-menu-list-line-height: 1;
  }
}

/* Custom responsive modifier for Bulma button */
@media screen and (max-width: 768px) {
  .button.is-text-mobile {
    background: none;
    border: none;
    padding: 0;
    height: auto;
    line-height: 0;
  }

  .button.is-text-mobile:hover {
    background: none;
  }
}

/* Placeholder (on every new line) */
.tiptap .is-empty::before {
  content: attr(data-placeholder);
  float: left;
  color: #595b5e;
  pointer-events: none;
  height: 0;
}

.tiptap.ProseMirror {
  outline: 0;
  padding: 0.5rem;
  background-color: #222;
}

.tiptap-img {
  display: block;

  &.tiptap-left {
    margin: 0 0 var(--bulma-content-block-margin-bottom) 0;
  }

  &.tiptap-center {
    margin: 0 auto var(--bulma-content-block-margin-bottom) auto;
  }

  &.tiptap-right {
    margin: 0 0 var(--bulma-content-block-margin-bottom) auto;
  }
}

#editor-data {
  display: none;
}

.sortable-handle {
  cursor: grab;
}

.sortable-ghost {
  background: transparent !important;
  opacity: 0.5;
  cursor:grab !important;
  border: 1px solid gray;
}
