@import '/a/vendor/bulma.min.css';
@import url(app.css);

:root {
  .menu {
    --bulma-menu-list-line-height: 1;
  }
}

/* Placeholder (on every new line) */
.tiptap .is-empty::before {
  content: attr(data-placeholder);
  float: left;
  color: #595b5e;
  pointer-events: none;
  height: 0;
}

.tiptap.ProseMirror {
  outline: 0;
  padding: 0.5rem;
  background-color: #222;
}

#editor-data {
  display: none;
}
